/* Defina um estilo global para o corpo do documento */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url("img/46BE.gif");
    background-repeat: no-repeat ;
    background-size: cover;
    color: rgb(56, 36, 24);
  }
  
  /* Estilize o formulário de login */
  form {
    background-image: url("img/form.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(102, 54, 39, 0.753);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #684325;
  border-radius: 5px;
  }
  
  form button {
    background-color: #927548;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #563e27;
  }
  
  a {
    display: block;
    margin-top: 10px;

    text-align:center;
    color: #885e32;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  